name: CI + CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Compile
        run: echo Building

  DeployDev:
    name: Deploy to Dev 
    if: github.event_name == 'pull_request'
    needs: [Build]
    runs-on: ubuntu-latest
    environment: 
      name: Development
      url: ''
    steps:
      - name: Deploy
        run: echo Deploying to Development

  DeployStaging:
    name: Deploy to Staging 
    if: github.event.ref == 'refs/heads/main'
    needs: [Build]
    runs-on: ubuntu-latest
    environment: 
      name: Staging
      url: ''
    steps:
      - name: Deploy
        run: echo Staging

  DeployProd:
    name: Deploy to Production 
    needs: [DeployStaging]
    runs-on: ubuntu-latest
    environment: 
      name: Production
      url: 'https://tiny.one/Apollo-inv'
    steps:
      - name: Deploy
        run: echo Connecting to Google Cloud VM Instance...
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.GCLOUD_IP}}
          username: ${{secrets.GCLOUD_USERNAME}}
          key: ${{secrets.GCLOUD_SSH}}
          script: |
            ./apollo.sh -lscFGLr